/node_modules
/public/hot
/public/storage
/public/js/vue/*
/public/js/vue/
/public/js/*
/public/js/
/public/css/*
/public/css/
/public/json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.examples
