$fondo-top: #b3c0d1;
$fondo-main: #e9eef3;
$fondo-sidebar: #d3dce6;

$color-letra-base: #333;


html,
body{
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
    font-family: sans-serif;
    font-size: 14px;
}
.container{
    height: calc(100% - 47px);
    width: 100%;
    max-width: 10000px;
    padding: 0px !important;
    margin: 0px !important;
}

.contenedor-vue{
    height: 100%;
    width: 100%;
    margin: 0px !important;
}

.el-main {
    line-height: 40px;
    overflow: hidden;
    height: 100%;
    background-color: $fondo-main;
    color: $color-letra-base;
    text-align: center;
    line-height: 160px;
    display: flex;
}
.el-header, .el-footer {
    background-color: $fondo-top;
    color: $color-letra-base;
    text-align: center;
    line-height: 60px;
}
.el-header{
    font-size: xx-large;
    height: 0px !important;
}
.el-aside {
    background-color: $fondo-sidebar;
    height: 100%;
    color: $color-letra-base;
    text-align: left;
    overflow-x: hidden;
}

#msgcontainer{
    width: 300px;
    height: 1px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 45px;
    z-index: 999999;
}

.el-popconfirm{
    /deep/  .el-button{
        font-size: 14px;
    }
    /deep/  .el-button--primary{
        color: #F56C6C;
        background: #fef0f0;
        border-color: #fbc4c4;
    }
    /deep/  .el-button--primary:hover {
            background: #F56C6C;
            border-color: #F56C6C;
            color: #FFF;
        }
}

.navbar-laravel{
    background-color: $fondo-top;
}
#app{
    background-color: $fondo-main;
    height: 100%;
}
.card-header{
    background-color: $fondo-sidebar;
}